@import url(https://fonts.googleapis.com/css?family=Rancho);

/* BASE STYLES
------------------------------------------------ */

* {
	margin: 0;
	padding: 0;
}

body#main {
	font-family: 'Rancho', sans-serif;
	font-size: 16px;
	background: url(../img/background.jpg) no-repeat bottom center fixed;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

div#container {
    width: 75%;
    margin: 0 auto;
	padding-top: 3em;
	position: relative;
}

a.github-ribbon {
    position: fixed;
    top: 0px;
    left: 0px;
}

	
#main h1 {
    font-size: 7em;
    text-align: center;
    color: #FFEF70;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.72);
    margin-top: 0;
    margin-bottom: 30px;
}

#main h3 {
    text-align: center;
    font-weight: normal;
    margin-top: 0;
	font-size: 1.7em;
}

#container a {
	text-decoration: none !important;
	color: #FFEF70;
}

a:hover, a:focus {
	text-decoration: none;
}

/* GAME
-------------------------------------------------- */

#canvas-container {
	margin: 0 auto;
    overflow: hidden;
    width: 85%;
    max-height: 360px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    line-height: 0px;
    position: relative;
    max-width: 500px;
}

canvas#canvas {
	background: url(../img/yellow.jpg);
	border-radius: 5px;
}

div#canvas-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.44);
    border-radius: 5px;
    color: white;
}

div#overlay-inner {
    width: 84%;
    height: 91%;
    padding: .5em;
    text-align: center;
    font-size: 5em;
    line-height: 3em;
}

div#game-container {
    position: relative;
}

div#score-container, div#speed-container {
    position: absolute;
    top: 0;
    left: 1em;
    line-height: 3em;
    color: white;
    width: 120px;
    text-align: center;
}

div#score-text, div#speed-text {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.59);
    font-size: 3em;
}

div#score-num {
    font-size: 2em;
}

div#speed-container {
    top: 150px;
}

input#speed-fader {
    width: 100%;
}

div#speed-labels {
    margin-top: -25px;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.54);
    position: relative;
}

span#speed-min {
    position: absolute;
    top: 0;
    left: 0;
}

span#speed-max {
    position: absolute;
    top: 0;
    right: 0;
}

div.bonus-text {
    position: absolute;
    top: 55px;
    left: 115px;
    font-size: 1.5em;
    color: #FFEF70;
    transition: all 1s linear 0s;
    display: none;
}

div.bonus-text.big{
	font-size: 2.5em;	
}

div#save {
    display: none;
    position: absolute;
    top: 140px;
    text-align: center;
    width: 84%;
    font-size: 0.6em;
    transition: 0.5s all linear;
    color: #FFE800;
	cursor: pointer;
}

div#save:hover {
    color: #D9C608;
}

div#save-score-box {
    position: absolute;
	display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(69, 47, 0, 0.95);
    border-radius: 5px;
}

div#save-score-inner {
    width: 90%;
    height: 86%;
    padding: 5%;
    text-align: center;
    line-height: 1em;
}

input#save-name {
    display: block;
    margin: 100px auto 0;
    font-family: inherit;
    font-weight: normal;
    font-size: 0.3em;
    padding: 10px;
    line-height: 30px;
}

input#save-button, #cancel-button {
    display: inline-block;
    margin: 10px auto;
    font-family: inherit;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 20pt;
    transition: 0.3s all linear;
    background-color: #F4F5A5;
    cursor: pointer;
}

input#save-button:hover, #cancel-button:hover {
    background-color: #EFCB19;
}

div#standings {
    width: 80%;
    margin: 2em auto 6em;
}

div#social {
    margin-top: 1em;
}

.fb-like.fb_iframe_widget {
    margin-right: 1em !important;
}

footer {
    padding: 2em;
    text-align: center;
    font-weight: normal;
    font-size: 18pt;
    color: white;
}